<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="ConnectionString"
			connectionString="Data source=GAMMA\SQL2008R2;Initial Catalog=migrations;Integrated Security=SSPI;"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
