<connectionStrings>
	<clear />
	<add name="FirstInOtherConfig" connectionString="Data Source=localhost;Initial Catalog=externaldb;trusted_connection=yes;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
	<add name="SecondInOtherConfig" connectionString="Data Source=localhost;Initial Catalog=secondexternaldb;trusted_connection=yes;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
</connectionStrings>
